<footer id="footer" class="top-space">
    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 widget">
                    <h3 class="widget-title">Kontakt</h3>
                    <div class="widget-body">
                        <p style="text-align: justify">
                            Jeżeli masz jakiekolwiek wątpliwości lub pytania odnośnie projektu zespołowego na naszym wydziale skontaktuj się z nami pod adresem: <a href="mailto:#">{{ site.email }}</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 widget">
                    <h3 class="widget-title">Bądź na bieżąco!</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://www.facebook.com/pages/Wydzia%C5%82-Matematyki-i-Informatyki-UJ/199372500109145?fref=ts"><i class="fa fa-facebook fa-2"></i></a>
                        </p>
                    </div>
                    <p style="text-align: justify">
                      Serdecznie zapraszamy też do śledzenia stron naszego <a href="http://www.matinf.uj.edu.pl">Wydziału</a> oraz <a href="http://www.ii.uj.edu.pl">Instytutu</a>, gdzie znajdziesz aktualne informacje o wydarzeniach oraz zmianach na Łojasiewicza 6.
                    </p>
                </div>
                <div class="col-md-4 widget">
                </div>
            </div>
            <!-- /row of widgets -->
        </div>
    </div>
    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2016, <a href="https://ksi.ii.uj.edu.pl/">KSI UJ</a>. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /row of widgets -->
        </div>
    </div>
</footer>
