<footer id="footer" class="top-space">
    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Kontakt</h3>
                    <div class="widget-body">
                        <p>
                            <a href="mailto:#">{{ site.email }}</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Bądź na bieżąco!</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://www.facebook.com/pages/Wydzia%C5%82-Matematyki-i-Informatyki-UJ/199372500109145?fref=ts"><i class="fa fa-facebook fa-2"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 widget">
                    <h3 class="widget-title">Tutaj można coś napisać</h3>
                    <div class="widget-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
                    </div>
                </div>
            </div>
            <!-- /row of widgets -->
        </div>
    </div>
    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2016, <a href="https://ksi.ii.uj.edu.pl/">KSI UJ</a>. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /row of widgets -->
        </div>
    </div>
</footer>
