---
layout: default
---
<!-- container -->
<style>
.obrazek{

}
</style>
<div class="container">
    <div class="row">
        <article class="col-sm-6">
            <header class="page-header">
                <h1 class="page-title">Firma i projekt</h1>
            </header>
            <p>
                <strong>{{page.company}}</strong>
                <br />
                <img src="{{page.compamy_img}}" />
            </p>
            <p>
              <strong>{{page.project}}</strong>
              <br />
              <img src="{{page.project_img}}" style="max-height: 200px;" />
            </p>
            <br>
        </article>
        <article class="col-sm-6">
            <header class="page-header">
                <h1 class="page-title">Realizacja projektu</h1>
            </header>
            <p>
              <strong>metodologia:</strong> {{page.methodology}}<br />
              <strong>metoda dostarczania:</strong> {{page.shipment_method}}<br />
              <strong>czas pracy:</strong> {{page.worktime}}<br />
              <strong>lokacja:</strong> {{page.localtion}}<br />
              <strong>zespół:</strong> {{page.team_size}}<br />
              <strong>role w zespole:</strong> {{page.project_roles}}<br />
              <strong>prawa autorskie:</strong> {{page.copyrights}}<br />
            </p>
            <br>
        </article>
    </div>
    <div class="row">
        <article class="col-sm-6">
            <header class="page-header">
                <h1 class="page-title">Dla studenta</h1>
            </header>
            <p>
              <strong>narzędzia dostarczane przez firmę:</strong> {{page.tools_providen}}<br />
              <strong>mentor:</strong> {{page.mentor}}<br />
              <strong>przewidywane szkolenia:</strong> {{page.training}}<br />
              <strong>wynagrodzenie:</strong> {{page.money}}<br />
              <strong>możliwość zatrudnienia:</strong> {{page.later_employment}}<br />

            </p>
            <br>
        </article>
        <article class="col-sm-6">
            <header class="page-header">
                <h1 class="page-title">Szczegóły</h1>
            </header>
            <p>
              {{content}}
            </p>
            <br>
        </article>
    </div>
</div>
<!-- /container -->
